.tableE-body tr:nth-child(even) {
    background-color: #e9e9e9;
}

.tableE td {
    font-size: 3vh;
    line-height: 1;
}

.tableE-body td {
    padding: 0;
}

.calendar-button:hover,
.calendar-button-grey:hover {
    background-color: #21abc4 !important;
}