.tableE-body tr:nth-child(even) {
    background-color: #e9e9e9;
}

.tableE td {
    font-size: clamp(12px, 3vh, 24px);
    line-height: 1;
}

.tableE-body td {
    padding: 0;
}

.table-approval:hover,
.table-approval-grey:hover {
    background-color: #21abc4 !important;
}