form {
    display: grid;
    grid-template-columns: 30vh auto;
    gap: 25px;
}

label {
    text-align: right;
    grid-column: 1 / 2;
    font-size: 3vh;
}

input,
select {
    max-width: 70vh;
    border: 0.4vh solid rgb(182, 182, 182);
    border-radius: 1vh;
    font-size: 3vh;
}

input,
select,
button {
    grid-column: 2 / 3;
}

input[type=file] {
    position: relative;
    top: 2vh;
    border: 0;
    border-radius: 0;
}

.tableE {
    width: 99%;
    margin-left: 1vh;
    border-spacing: 0;
    border: 2px solid black;
}

.tableE th {
    font-size: clamp(12px, 4vh, 30px);
    line-height: 4vh;
    background-color: #334ee2;
    color: white;
}

.tableE td {
    font-size: clamp(8px, 3vh, 24px);
    line-height: 1;
}

.tableE text {
    padding: 5vh;
}

.tableE-head th {
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
    user-select: none;
}

.tableE-body td {
    padding-left: 2vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.tableE-head {
    position: sticky;
    top: 9vh;
    z-index: 1;
}

.columnE {
    border: clamp(2px, 1vh, 3px) solid black;
    width: clamp(6px, 4vh, 14px);
}

.columnText {
    padding: clamp(1px, 1vh, 3px);
}