.excel-export {
    text-align: center;
    margin: 1vh;
}

.button-blue-excel {
    background: #0c1f8b;
    padding: 2vh 3vh;
    color: #fff;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
    width: 15%;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.button-blue-excel:hover {
    color: black;
    opacity: .90;
}