.footer {
    width: auto;
    background-color: black;
    grid-row: 3;
    display: grid;
    grid-template-columns: 3% 14% 30% 30% 20% 3%;
}

.footerColumnOne {
    grid-column: 1;
}

.footerColumnTwo {
    grid-column: 2;
}

.footerColumnThree {
    grid-column: 3;
}

.footerColumnFour {
    grid-column: 4;
}

.footerColumnFive {
    grid-column: 5;
    word-wrap: break-word;
}

.footerTextGrey,
.footerTextWhite {
    font-size: clamp(16px, 3vh, 32px);
    letter-spacing: -0.01em;
}

.footerTextGrey {
    color: #858080;
}

.footerTextWhite {
    color: white;
}

.footerLogo {
    width: clamp(20px, 60%, 200px);
}

@media (max-device-width: 700px) {

    .footerColumnOne,
    .footerColumnTwo,
    .footerColumnThree,
    .footerColumnFour,
    .footerColumnFive {
        grid-column: 2/6;
    }

    .footerLogo {
        display: none;
    }
}