body {
    min-height: 120vh;
    margin: 0;

    display: grid;
    grid-template-rows: 9vh auto auto;
    grid-column: auto;

    font-family: system-ui;
}

.main-body {
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto auto;
}

.firstDiv {
    grid-row: 1;
    background-color: #FFF4F4;
}

h1 {
    text-align: center;
    font-size: 6vh;
}

h2 {
    text-align: center;
    font-size: 4vh;
    color: #7C7C7C
}

.secondDiv {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: auto auto;
}

h3 {
    text-align: center;
    grid-row: 1;
    grid-column: 2/4;
    font-size: 5vh;
    letter-spacing: -0.01em;
}

.secondDivLeft {
    grid-row: 2;
    grid-column: 2;
}

.secondDivRight {
    grid-row: 2;
    grid-column: 3;
}

.secondDivRightTextFirst {
    font-size: 5vh;
    letter-spacing: -0.01em;
}

.secondDivRightTextSecond {
    font-size: 3.5vh;
    letter-spacing: -0.01em;
}

.thirdDiv {
    grid-row: 3;
    background-color: #FFF4F4;
}

h4 {
    text-align: center;
    font-size: 4vh;
}

.help {
    position: relative;
    top: -3%;
    left: 15%;
    width: 70%;
    text-align: left;
    border-radius: 7vh;
    background-color: white;
    font-size: 3vh;
}

.imgOne {
    border-radius: 25vh;
    margin: auto;
    display: block;
    width: 60%;
    filter: drop-shadow(-5vh -3vh #d0c7df);
}

.imgTwo {
    border-radius: 10vh;
    margin: auto;
    display: block;
    width: 80%;
    filter: drop-shadow(-4vh -3vh #d0c7df);
}

/* Faq css */
.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 70%;
    margin: auto;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 80%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    width: 80%;
    padding: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    font-size: 3vh;
    color: #777;
    float: right;
    margin-top: 20px;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.message-green,
.message-red,
.message-grey {
    color: white;
    padding: 2vh;
    width: 35%;
    border-radius: 1vh;
    margin: 4vh auto;
    font-size: 2.7vh;
    text-align: center;
}

.message-green {
    background: green;
}

.message-red {
    background: red;
}

.message-grey {
    background: grey;
}


@media (max-device-width: 850px) {
    .secondDivLeft {
        grid-column: 1/5;
    }

    .secondDivRight {
        grid-row: 3;
        grid-column: 2/4;
    }

    .imgOne {
        width: 80%;
        filter: drop-shadow(-2vh -1vh #d0c7df);
    }

    .help {
        position: relative;
        top: -2%;
        left: 5%;
        width: 90%;
    }

    body {
        grid-template-rows: 18vh auto auto;
    }

    .message-green,
    .message-red,
    .message-grey {
        width: 75%;
    }
}
