body {
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    width: 110vh;
    height: 70vh;
    padding: 4vh;
    background: white;
    border-radius: 4vh;
}

h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 5vh;
}

input {
    display: block;
    border: 0.4vh solid rgb(182, 182, 182);
    width: 95%;
    padding: 1.5vh;
    margin: 1.5vh auto;
    border-radius: 1vh;
    font-size: 3vh;
}

label {
    font-size: 4vh;
    padding: 1.8vh;
}

button {
    float: right;
    background: #21abc4;
    padding: 2vh 3vh;
    color: #fff;
    border-radius: 1vh;
    margin-right: 1%;
    border: none;
    position: relative;
    top: 3vh;
    font-size: 2.4vh;
}

.buttonLink {
    float: right;
    background: #21abc4;
    padding: 1.8vh 3vh;
    border-radius: 1vh;
    border: none;
    position: relative;
    top: 3vh;
    margin-left: 1%;
    float: left;
    font-size: 2.6vh;
}

.buttonLink:hover {
    color: black;
    opacity: .90;
}

button:hover {
    color: black;
    opacity: .90;
}

/* Links */
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

.message {
    background: #F2DEDE;
    color: #0c0101;
    padding: 2vh;
    width: 95%;
    border-radius: 1vh;
    margin: 4vh auto;
    font-size: 2.7vh;
}