.search {
    margin-left: 1vh;
    padding: 3px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.search label {
    font-size: clamp(16px, 3vh, 24px);
    grid-row: 1;
}

.search input,
.search select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    outline: none;

    border: none;
    border-bottom: 0.4vh solid rgb(182, 182, 182);
    font-size: clamp(16px, 3vh, 24px);
    background-color: #F7F4F4;
    box-sizing: border-box;

    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    grid-row: 2;

}

.search input {
    grid-column: 1;
}

.search select {
    grid-column: 2;
}